<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Dr. Roopendra Roopak",
  "alternateName": "Roopendra Roopak",
  "jobTitle": "Assistant Professor of Marketing",
  "worksFor": {
    "@type": "Organization",
    "name": "Jindal Global Business School, O.P. Jindal Global University"
  },
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "O.P. Jindal Global University",
    "sameAs": "https://jgu.edu.in/jgbs/"
  },
  "url": "https://roopendra-roopak.github.io/",
  "image": "https://roopendra-roopak.github.io/content/authors/roopendra-roopak/avatar.jpg",
  "sameAs": [
    "https://www.linkedin.com/in/roopendra-roopak/",
    "https://scholar.google.com/citations?user=stFFZ5oAAAAJ",
    "https://www.researchgate.net/profile/Roopendra-Roopak",
    "https://orcid.org/0000-0001-7122-2434",
    "https://x.com/roopakRoopendra",
    "https://www.instagram.com/dr.roopendra.roopak/"
  ]
}
</script>
